/*
Theme Name: Twenty Fourteen Child
Description: Dragontwins
Version: 1.0
Author: pochi
Template: twentyfourteen
*/

@import url('../twentyfourteen/style.css');

.site{
	max-width: 1260px;
	margin: 0 auto;/* 全体を中心へ */
}
/* デフォルトリンク緑色の変更 */
a{
	color: #115F5E;
}
::selection {
	background: #115F5E;
}
::-moz-selection {
	background: #115F5E;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #115F5E;
}
.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #115F5E;
}
.hentry .mejs-overlay:hover .mejs-overlay-button {
	background-color: #115F5E;
	color: #fff;
}
.paging-navigation .page-numbers.current {
	border-top: 5px solid #115F5E;
}
.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
	background-color: #115F5E;
}
.widget_calendar tbody a {
	background-color: #115F5E;
}
.content-sidebar .widget a {
	color: #115F5E;
}
.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
	background-color: #115F5E;
}
.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before {
	background-color: #115F5E;
}
.slider-direction-nav a:hover {
	background-color: #115F5E;
}
.primary-navigation ul ul {
		background-color: #115F5E;
}
	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {
		background-color: #115F5E;
	}
	.secondary-navigation ul ul {
		background-color: #115F5E;
	}
	.secondary-navigation li:hover > a,
	.secondary-navigation li.focus > a {
		background-color: #115F5E;
	}

/* デフォルト黄緑修正 */
a:active,
a:hover {
	color: #35c1bf;
}

/* デフォルト黄緑修正２ */
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #87D1C4;
	color: #fff;
}
.search-toggle:hover,
.search-toggle.active {
	background-color: #87D1C4;
}
.search-box {
	background-color: #87D1C4;
	padding: 12px;
}
.site-navigation a:hover {
	color: #87D1C4;
}
.entry-title a:hover {
	color: #87D1C4;
}
.entry-meta a:hover {
	color: #87D1C4;
}
.cat-links a:hover {
	color: #87D1C4;
}
.entry-meta .tag-links a:hover {
	background-color: #87D1C4;
	color: #fff;
}
.entry-meta .tag-links a:hover:before {
	border-right-color: #87D1C4;
}
.entry-content .edit-link a:hover {
	color: #87D1C4;
}
.hentry .mejs-controls .mejs-button button:hover {
	color: #87D1C4;
}
.page-links a:hover {
	background: #87D1C4;
	border: 1px solid #87D1C4;
	color: #fff;
}
.post-navigation a:hover,
.image-navigation a:hover {
	color: #87D1C4;
}
.paging-navigation a:hover {
	border-top: 5px solid #87D1C4;
	color: #2b2b2b;
}
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
	color: #87D1C4;
}
.comment-reply-title small a:hover {
	color: #87D1C4;
}
.widget a:hover {
	color: #87D1C4;
}
.widget input[type="button"]:hover,
.widget input[type="button"]:focus,
.widget input[type="reset"]:hover,
.widget input[type="reset"]:focus,
.widget input[type="submit"]:hover,
.widget input[type="submit"]:focus {
	background-color: #87D1C4;
}
.widget-title a:hover {
	color: #87D1C4;
}
.widget_calendar tbody a:hover {
	background-color: #87D1C4;
}
.widget_twentyfourteen_ephemera .entry-meta a:hover {
	color: #87D1C4;
}
.content-sidebar .widget a:hover {
	color: #87D1C4;
}
.content-sidebar .widget input[type="button"]:hover,
.content-sidebar .widget input[type="button"]:focus,
.content-sidebar .widget input[type="reset"]:hover,
.content-sidebar .widget input[type="reset"]:focus,
.content-sidebar .widget input[type="submit"]:hover,
.content-sidebar .widget input[type="submit"]:focus {
	background-color: #87D1C4;
}
.content-sidebar .widget .widget-title a:hover {
	color: #87D1C4;
}
.content-sidebar .widget_twentyfourteen_ephemera .entry-meta a:hover {
	color: #87D1C4;
}
.site-info a:hover {
	color: #87D1C4;
}
.featured-content a:hover {
	color: #87D1C4;
}
.slider-control-paging a:hover:before {
	background-color: #87D1C4;
}
	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
		background-color: #87D1C4;
	}
	.secondary-navigation ul ul a:hover,
	.secondary-navigation ul ul li.focus > a {
		background-color: #87D1C4;
	}



.search-toggle:before{
		content:url(images/search.png);
		margin-top: 0;
}
.search-toggle{
	background-color: inherit;
}


body{
	background: #111;
	background:url(images/13757897_ml.jpg) no-repeat #000;
}

/* コンテンツ内サイズを広げる */
.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
    max-width: 650px; /*【コンテンツ幅調整】変更前⇒474px*/
}
.post-navigation,
.image-navigation {
    max-width: 650px;/*【コンテンツ幅調整】変更前⇒474px*/
}
.archive-header,
.page-header {
    max-width: 650px;/*【コンテンツ幅調整】変更前⇒474px*/
}
.contributor-info {
    max-width: 650px;/*【コンテンツ幅調整】変更前⇒474px*/
}
.comments-area {
    max-width: 650px;/*【コンテンツ幅調整】変更前⇒474px*/
}
.site-main .mu_register,
.widecolumn > h2,
.widecolumn > form {
    max-width: 650px;/*【コンテンツ幅調整】変更前⇒474px*/
}

@media screen and (min-width: 1008px) {
#page{
		background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1),
	rgba(6,6,6, 0.1)) fixed, url(images/tower_of_london_wall_part5_by_goodtextures-d3ainzt.jpg);
}
#main{
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1),
	rgba(6,6,6, 0.1)) fixed, url(images/tower_of_london_wall_part5_by_goodtextures-d3ainzt.jpg);
	overflow: hidden;
}
#secondary,.site:before{
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.7),
	rgba(6, 6, 6, 0.7)) fixed, url(images/tower_of_london_wall_part5_by_goodtextures-d3ainzt.jpg);
}	
#secondary{
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	color: #fff;
}	
	.site-content,
    .site-main .widecolumn {
        margin-left: 300px;/*【コンテンツ幅調整】変更前⇒222px*/
    }
 
    .site:before {
        width: 300px;/*【コンテンツ幅調整】変更前⇒222px*/
        background:none;
    }
    
 
    .search-box-wrapper,
    .featured-content {
        padding-left: 300px;/*【コンテンツ幅調整】変更前⇒222px*/
    }
 
    #secondary {
        width: 240px;/*【コンテンツ幅調整】変更前⇒162px*/
    }
 
    .secondary-navigation,
    .secondary-navigation ul ul {
        width: 350px;/*【コンテンツ幅調整】変更前⇒222px*/
    }
 
    .secondary-navigation ul li:hover > ul,
    .secondary-navigation ul li.focus > ul {
        left: 350px;
    }
    .navigation,#comments{
	    background: rgba(255, 255, 255, 0.9);
    }
}

@media screen and (min-width: 783px) {
	.masthead-fixed .site-main{
		margin: 0;
	}
}

.header-sub img{
	width: 100%;
}


/* コンテンツ内調整 */
.midashi{
  border-left: 5px solid #0000b1;
  padding: 10px;
  font-weight: bold;
  margin: 15px 0;
}


